<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/timer_styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Orbitron" media="all">
    <link href="/static/favicon.ico" rel="icon">
    <title>Shakerz_92 Subathon Timer</title>
  </head>
  <body>
    <div id="timer">
      <div><span class="value" id="hours_div">0</span></div><!--
      --><div><span>:</span></div><!--
      --><div><span class="value" id="minutes_div">00</span></div><!--
      --><div><span>:</span></div><!--
      --><div><span class="value" id="seconds_div">00</span></div>
    </div>
    <!-- <div id="time_up" hidden>
      <h1>Time's Up!</h1>
    </div> -->
    <script src="static/timer.js"></script>
    <script type = 'text/javascript'></script>    
</body>
</html>
